[submodule "Forge/vendor/glm"]
	path = Forge/vendor/glm
	url = https://github.com/Totomosic/glm.git
[submodule "Forge/vendor/imgui"]
	path = Forge/vendor/imgui
	url = https://github.com/Totomosic/imgui.git
[submodule "Forge/vendor/glfw"]
	path = Forge/vendor/glfw
	url = https://github.com/Totomosic/glfw.git
[submodule "Forge/vendor/spdlog"]
	path = Forge/vendor/spdlog
	url = https://github.com/Totomosic/spdlog.git
[submodule "Forge/vendor/entt"]
	path = Forge/vendor/entt
	url = https://github.com/Totomosic/entt.git
[submodule "Forge/vendor/tinygltf"]
	path = Forge/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Forge/vendor/ImGuizmo"]
	path = Forge/vendor/ImGuizmo
	url = https://github.com/Totomosic/ImGuizmo
